{% extends 'loft/base.html' %}
{% load static %}
{% block css %}<link href="{% static 'css/services.css' %}" rel="stylesheet">{% endblock %}
{% load my_tags %}
{% block clude %}{% include 'includes/inc_menu.html' %}{% endblock %}
{% block content %}
<main>
    <div class="row row-cols-1 row-cols-md-3 text-center">
{% for servic in object_list %}
        <div class="col">


            <div class="card mb-4 bg-transparent text-white">

                <div class="card-header py-3">
                    <h4 class="my-0 ">{{ servic.title }}</h4>
                </div>
                <div class="card-body">
                    <a href="{% url 'services:detail_servic' servic.pk %}">
                        <img class="card-img-top mb-3" style="border-radius: 30px;border: 3px solid white;" alt=""
                             src="{{ servic.image | media_filter }}">
                    </a>

                    <p>{{ servic.description|slice:100 }}...</p>
                    <a type="submit" href="{% url 'services:detail_servic' servic.pk %}" class="w-100 btn btn-outline-light">Подробнее</a>
                    {% if user.is_superuser or user.is_staff %}
                     <a class="btn btn-outline-warning btn-block mt-2" href="{% url 'services:edit_servic' servic.pk %}">
                                Редактировать
                     </a>
                    <a class="btn btn-outline-danger btn-block mt-2" href="{% url 'services:delete_servic' servic.pk %}">
                                Удалить
                     </a>
                    {% endif %}
                </div>

            </div>

        </div>
{% endfor %}
    </div>

</main>
{% endblock %}