{% extends 'loft/base.html' %}
{% load static %}
{% block css %}<link href="{% static 'css/services.css' %}" rel="stylesheet">{% endblock %}
{% load my_tags %}
{% block clude %}{% include 'includes/inc_menu.html' %}{% endblock %}

{% block content %}
<div class="col-md-4">
    <a class="btn btn-outline-info btn-block mt-5 mb-5" href="{% url 'services:servic_list' %}">
        Список всех услуг
    </a>
</div>
<div class="row text-center">
    {% for object in services %}
    <div class="col">
        <div class="card col-mb-6 bg-transparent text-white">
            <div class="card-header py-3">
                <h4 class="my-0 ">{{ object.title }}</h4>
            </div>
            <div class="card-body">
                <a href="{% url 'services:list_servic' object.pk %}">
                    <img class="card-img-top mb-3" style="border-radius: 30px;border: 3px solid white;" alt=""
                         src="{{ object.image | media_filter }}">
                </a>


                {% if user.is_superuser or user.is_staff %}
                <a class="btn btn-outline-warning btn-block mt-2" href="{% url 'services:edit' object.id %}">
                    Редактировать
                </a>
                <a class="btn btn-outline-danger btn-block mt-2" href="{% url 'services:delete' object.id %}">
                    Удалить
                </a>
                {% endif %}
            </div>

        </div>

    </div>
    {% endfor %}
</div>


{% endblock %}