{% extends 'loft/base.html' %}
{% load static %}
{% block css %}<link href="{% static 'css/services.css' %}" rel="stylesheet">{% endblock %}
{% load my_tags %}
{% block clude %}{% include 'includes/inc_menu.html' %}{% endblock %}

{% block content %}
<h2 class="mb-3 mt-3 text-white">Loft World</h2>
<div class="row w-100 bg-secondary mb-5 p-5 text-white" style="border-radius: 10px">
    <h3 class="mb-2 text-white text-center">В этом разделе:</h3>
<p>Мы предлагаем ознакомиться с услугами изготовление мебели на заказ, под ваши личные предпочтения.<br>
   Услугами установки сложных конструкций таких как:<br>- пораящая кровать;
    <br>- навесы под авто;
    <br>- сборка мебели;<br>
- установка светильных с сложным исполнением<br>
Все предлогаемые наши услуги, вы можете посмотреть в данном разделе!</p>

<p>К каждому клиенту мы находим индивидуальный подход!
Мы ценим ваше время и готовы воплотить все ваши желания и видения качественно и в срок!
</p>
    <div class="col-md-4">
    <a class="btn btn-info btn-block mt-2 mb-2" href="{% url 'services:servic_list' %}">
        Список всех услуг
    </a>
</div>
</div>

<div class="row text-center">
    {% for object in services %}
    <div class="col">
        <div class="card col-mb-6 bg-transparent text-white">
            <div class="card-header py-3">
                <h4 class="my-0 ">{{ object.title }}</h4>
            </div>
            <div class="card-body">
                <a href="{% url 'services:list_servic' object.pk %}">
                    <img class="card-img-top mb-3" style="border-radius: 30px;border: 3px solid white;" alt=""
                         src="{{ object.image | media_filter }}">
                </a>


                {% if user.is_superuser or user.is_staff %}
                <a class="btn btn-outline-warning btn-block mt-2" href="{% url 'services:edit' object.id %}">
                    Редактировать
                </a>
                <a class="btn btn-outline-danger btn-block mt-2" href="{% url 'services:delete' object.id %}">
                    Удалить
                </a>
                {% endif %}
            </div>

        </div>

    </div>
    {% endfor %}
</div>



{% endblock %}